
  <body>
    <header>
      <nav>
        <h1>Restaurants</h1>
       <a href="#" >CONTACT</a>
      </nav>
    </header>

    <main>
      <section class="userOptions">
        <button id="openForm"><i class="fas fa-1x fa-plus-square"></i>ADD RESTAURANT</button>
        {{!-- <button><i class="fas fa-1x fa-minus-square"></i>REMOVE RESTAURANT</button> --}}
      </section>
    
      <form action="/restaurants" class="addRestaurantForm" method="post">
              <i id="closeForm" class="fas fa-2x fa-times"></i>
        
          <label for="name">Name</label>
        <input type="text" class="inputNewRestaurant" name="name" >
  
        <label for="image">Image Link(URL)</label>
        <input type="text" class="inputNewRestaurant" name="image">
        <br>
        <button name="submit" type="submit" id="addRestaurantBtn">Submit</button>
      </form>
        
    

        

      
      <div class="container">
        <div class="search">
          <form action="" class="searchContainer">
            <input type="text" class="searchBox" placeholder="Search.." />
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
        </div>
        <div class="restContainer">
            {{#each restaurants}}
          <div class="eachRest">
              <figure>
                <div class="imgContainer">
                  <img src="{{this.image}}" alt="{{this.name}} restaurant image" />
                  <div class="middle">
                    <div class="text">
                      <a href="/restaurants/{{this.id}}">Full Detail List</a>
                    </div>
                  </div>
                </div>
                <figcaption>
                  <a href="#" id="{{this.id}}"> {{this.name}} </a>
                </figcaption>
              </figure>
          </div>
            {{/each}}

        </div>
      </div>
    </main>

    <footer>
      Made with &hearts; By
      <a href="https://github.com/AyishaAlli" target="_blank"></a>
      Ayisha Alli.
    </footer>
       <script src="js/restaurants.js"></script> 

  </body>
