
<body>
    <header>
      <nav>
        <h1>Restaurants</h1>
       <a href="#">CONTACT</a>
      </nav>
    </header>
    <section>
        <a href="/restaurants"><i class="fas fa-2x fa-arrow-left"></i></a>
        <h1 class="restName">{{restaurant.name}}<i class="fas fa-pencil-alt"></i></h1>
    </section>
    
    <section class="editForm">
        <i class="fas fa-2x fa-times"></i>
        <section class="forms hidden">
        <i class="fas fa-2x fa-arrow-left" id="exitForm"></i>

        {{!-- <form class="addMenuItemForm hidden">
            <div>
                  <p>Select menu to add New Items</p>
                  {{#each restaurant.menus}}
                <label for="menuTitles">
                  <input type="radio" name="menuName" id="{{this.id}}" value="{{this.title}}">{{this.title}}
                </label>
                  {{/each}}
            </div>
            <div>
            <label for="menuItem">Item Name + Price</label>
                <input type="text" name="name" id="name" placeholder="Enter Name..." >
                <input type="number" name="price" id="price" placeholder="Enter Price...">

            </div>
            <input type="submit" value="Add Item">
         </form> --}}

        <form class="restaurantDetails hidden" method="POST" action="/restaurants/{{restaurant.id}}?_method=PUT">
                <label for="name">Restaurant Name</label>
                <input type="text" name="name" id="name" value="{{restaurant.name}}">
                <br>
                <label for="image">Image Link (URL)</label>
                <input type="url" name="image" id="image" value="{{restaurant.image}}">
         <input  id="updateRestaurantDetailsBtn" type="submit" value="Submit Details">
          </form>
          <div>
                 
              
          </div>
            {{#each restaurant.menus}}
        <form class=" restaurantMenus hidden" method="POST" action="/restaurants/{{this.restaurant_id}}/menus/{{this.id}}?_method=PUT">
            {{/each}}
                <div>
                  <p>Select menu to edit</p>
                  {{#each restaurant.menus}}
                <label for="menuTitles" style="font-size: 20px;">
                  <input type="radio" name="menuName" id="{{this.id}}" value="{{this.title}}">{{this.title}}
                </label>
                  {{/each}}
            </div>
                <label for="title">New Name</label>
                <input type="text" name="title" id="title" placeholder="New Name....">
                
         <input type="submit" value="Submit Details">
        </form> 

        {{!-- <form class=" restaurantMenuItems hidden">
            <div id="menuItemsContainer">
                {{#each restaurant.menus}}
                <p style="text-decoration: underline; color:#63d1ec">{{this.title}}</p>
                <div>
                    {{#each menuItems}}
                        <label for="menuItem">Menu Item + Price</label>
                        <input type="text" name="menuName" id="{{this.id}}" value="{{this.name}}">
                        <input type="text" name="menuName" id="{{this.id}}" value="{{this.price}}">    
                    {{/each}}
                </div>
            
            {{/each}}
            </div>
            
            
         <input type="submit" value="Submit Details">
         
        </form> --}}
        </section>

        <div class="editBtns">
        {{!-- <button id="addMenuItemBtn">Add Menu Items</button>
        <br>
        <span style="text-align: center;">------------OR-----------</span> --}}
        <br>
        <button id="editDetails">Edit Restaurant Details</button>
        <button id="editMenus">Edit Menus</button>
        {{!-- <button id="editMenuItems">Edit Menu Items</button> --}}

        <a href="/restaurants" onclick="ConfirmDelete()" onclick="deleteRestaurant({{restaurant.id}})" >
        <button id="deleteRestaurant">Delete Restaurant</button>
        </a>

        </div>
       

        
    </section>

    <div class="container"> 
        <figure>
            <img src="{{restaurant.image}}" width="570" height="500" alt="">
                    <figcaption>
                        {{#each restaurant.menus}}
                            <p class="menu">{{this.title}}</p>
                            <ul class="menuItems" id="{{this.id}}">
                                {{#each menuItems}}
                                    <li>{{this.name}} £{{this.price}}</li>
                                {{/each}}
                            </ul>
                            <br>
                        {{/each}}
                     </figcaption>
        </figure>
    </div>
    <script src="js/restaurant.js"></script> 

    <script>

        // Delete a restaurant 

        function deleteRestaurant(restaurantId) {
    fetch("/restaurants/" + restaurantId, { method: "DELETE" })
        .then((res) => {
        res.json();
        })
        .catch(function (err) {
        console.error(err);
        });
    }
    
  

    </script>
    
</body>

{{!-- Removed for each syntax but not working when i put restaurants.name  --}}
