
<body>
    <header>
      <nav>
        <h1>Restaurants</h1>
       <a href="#">CONTACT</a>
      </nav>
    </header>
    <section>
        <a href="/restaurants"><i class="fas fa-2x fa-arrow-left"></i></a>
        <h1 class="restName">{{restaurant.name}}<i class="fas fa-pencil-alt"></i></h1>
    </section>
    
    <section class="editForm">
        <i class="fas fa-2x fa-times"></i>
        <section class="forms hidden">
        <i class="fas fa-2x fa-arrow-left" id="exitForm"></i>
        <form class="restaurantDetails hidden">
                <label for="name">Restaurant Name</label>
                <input type="text" name="name" id="name" value="{{restaurant.name}}">
                <br>
                <label for="imageURL">Image Link (URL)</label>
                <input type="url" name="imageURL" id="imageURL" value="{{restaurant.image}}">
         <input onclick="createRestaurant({{restaurant.id}})" type="submit" value="Submit Details">
          </form>

        <form class=" restaurantMenus hidden">
            {{#each restaurant.menus}}
                <label for="menuName">Menu Name</label>
                <input type="text" name="menuName" id="menuName" value="{{this.title}}">
                <br>
            {{/each}}
        
         <input type="submit" value="Submit Details">
        </form> 

        <form class=" restaurantMenuItems hidden">
            <div id="menuItemsContainer">
                {{#each restaurant.menus}}
                <p style="text-decoration: underline; color:#63d1ec">{{this.title}}</p>
            {{#each menuItems}}
                <label for="menuItem">Menu Item + Price</label>
                <input type="text" name="menuName" id="menuName" value="{{this.name}}">
                <input type="text" name="menuName" id="menuName" value="{{this.price}}">
              <br>
            {{/each}}
            {{/each}}
            </div>
            
            
         <input type="submit" value="Submit Details">
         
        </form> 

        <form class="addMenuItemForm hidden">
            <div>
                <label for="menuTitles">Select Menu</label>
                <select name="menuTitles" id="menuTitles">
                {{#each restaurant.menus}}
                    <option value="{{this.title}}">{{this.title}}</option>
                {{/each}}
                </select>
            </div>
            <div>
            <label for="menuItem">Menu Item + Price</label>
                <input type="text" name="menuName" id="menuName" placeholder="Enter Name..." >
                <input type="text" name="menuName" id="menuName" placeholder="Enter Price...">

            </div>
            <input type="button" value="Add Item">
         </form>

        </section>

        <div class="editBtns">
        <button id="addMenuItemBtn">Add Menu Items</button>
        <br>
        <span style="text-align: center;">------------OR-----------</span>
        <br>
        <button id="editDetails">Edit Restaurant Details</button>
        <button id="editMenus">Edit Menus</button>
        <button id="editMenuItems">Edit Menu Items</button>

        <a href="/restaurants" onclick="deleteRestaurant({{restaurant.id}})">
<button id="deleteRestaurant">Delete Restaurant</button>
        </a>

        </div>
       

        
    </section>

    <div class="container"> 
        <figure>
            <img src="{{restaurant.image}}" width="570" height="500" alt="">
                    <figcaption>
                        {{#each restaurant.menus}}
                            <p class="menu">{{this.title}}</p>
                            <ul class="menuItems" id="{{this.id}}">
                                {{#each menuItems}}
                                    <li>{{this.name}} £{{this.price}}</li>
                                {{/each}}
                            </ul>
                            <br>
                        {{/each}}
                     </figcaption>
        </figure>
    </div>
    <script src="js/restaurant.js"></script> 

    <script>

        // Delete a restaurant 
        function deleteRestaurant(restaurantId) {
    fetch("/restaurants/" + restaurantId, { method: "DELETE" })
        .then((res) => {
        res.json();
        })
        .catch(function (err) {
        console.error(err);
        });
    }

    </script>
    
</body>

{{!-- Removed for each syntax but not working when i put restaurants.name  --}}
